<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

  <main class="container">
    <section class="mt-3" id="cards">
      <h1>Mensagens de Contato</h1>
      <p>Confira abaixo as mensagens recebidas</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Mensagem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>

    </section>
  </main>

  <%- include('./partials/footer'); %>
  </body>
</html>



