* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form textarea {
  resize: none;
}

.page-min-height {
  height: calc(100vh - 100px);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

footer {
  height: 100px;
}

.icons {
  font-size: 20px;
  color: #fff;
}