<footer class="container-fluid bg-dark d-flex justify-content-between align-items-center mt-5">
  <div class="icons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
  <div class="text-white">
    Portal Marvel &copy todos os direitos reservados
  </div>
  <div class="text-white">
    Desenvolvido por Victor Torres
  </div>
</footer>