.header {
  background-color: aquamarine;
  height: 150px;
  margin-bottom: 15px;
}

.section-one {
  background-color: blueviolet;
  height: 150px;
  margin-bottom: 15px;
}

.section-two {
  background-color: salmon;
  height: 150px;
  margin-bottom: 15px;
}

.section-three {
  background-color: sandybrown;
  height: 150px;
  margin-bottom: 15px;
}

.footer {
  background-color: aquamarine;
  height: 150px;
}


@media (max-width: 540px) {

  .header, .footer {
    background-color: darkblue;
  }

  .section-one, .section-two, .section-three{
    background-color: rgb(104, 216, 76);
  }
}